body {
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    display: none;
    background: #111;
}

#menu {
    padding: 20px;
}

#controls {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: none;
}

#controls button {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}
